/* 公共样式 */
.chat-content-box,
.chat-self-content-box {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 7px;
    position: relative;
}

.chat-self-content-box {
    margin-right: 10px;

}
.chat-content-box{
    margin-left: 10px;
}

.chat-name,
.chat-self-name {
    font-size: 13px;
}

.chat-name {
    position: absolute;
    white-space: nowrap;
    left: 0;
}

.chat-self-name {
    position: absolute;
    /* 从上到下，从右到左 */
    white-space: nowrap;
    /* 防止文字换行 */
    right: 0;
}

/* 对方消息样式 */
.chat-other,
.chat-self {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-other-content,
.chat-self-other-content {
    margin-left: 5px;
    border-radius: 5px;
    max-width: 200px;
    word-break: break-all;
    max-height: 100px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    padding: 10px;
}

.chat-other-content {
    background-color: #ffffff;
}

.chat-self-other-content {
    background-color: #42caef;
}

/* 调整布局相关样式 */
.chat-l-box {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.chat-self {
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}